.DS_Store
__pycache__/

data/bvbrc_data/*
!data/bvbrc_data/download-fasta.sh
!data/bvbrc_data/README.md
!data/bvbrc_data/bvbrc_processing.ipynb

data/card_data/*
!data/card_data/README.md
!data/card_data/card_processing.ipynb

data/gtdb_data/*
!data/gtdb_data/extract_ecoli.py
!data/gtdb_data/README.md
